<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	<a class="navbar-brand" routerLink='/'>Delish Flashes</a>
	<ul class="nav navbar-nav">
		<li class="nav-item active">
			<button class="btn btn-success" routerLink="/edit-mcq">Create MCQ</button>
			<button class="btn btn-success">Review MCQs</button>
		</li>
	</ul>
</nav>
<div class="container-fluid">
	<div class="row flex-items-lg-center">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			<router-outlet></router-outlet>
		</div>
		<div class="col-lg-3"></div>
	</div>
</div>