<h1>Create a new MCQ</h1>
<form>
    <div class="form-group">
        <label>MCQ Question:</label>
        <input class="form-control"/>     
    </div>
    <div class="form-group">
        <label>Answer 1:</label>
        <input class="form-control"/>
    </div>
    <div class="form-group">
        <label>Answer 2:</label>
        <input class="form-control"/>
    </div>
    <div class="form-group">
        <label>Answer 3:</label>
        <input class="form-control"/>
    </div>
    <button class="btn btn-success">Save MCQ</button>
</form>